<div class="chatbox small-12 columns">
    <%= simple_form_for([@circle, @circle.comments.build]) do |f| %>
    <div id="small-8 columns">
      <%= f.text_field :body, label: false, placeholder: 'Chat away!'%>
    </div>
    <div id="small-4 columns">
      <%= f.submit 'Submit' %>
    </div>
    <% end %>
</div>
