<div class="row">
  <div class="large-12 columns">
    <div class="row collapse">
      <%= simple_form_for([@circle, @circle.comments.build]) do |f| %>
      <div class="small-10 columns ">
        <%= f.text_field :body, label: false, placeholder: 'Chat away!'%>
      </div>
      <div class="small-2 columns">
        <%= f.submit 'Submit', class: "button submit" %>
      </div>
    </div>
      <% end %>
  </div>
</div>
