<div class="row">
  <div class="upload">
    <div class="large-12 columns">
      <div class="row collapse">
        <div class="small-10 columns ">
          <%= simple_form_for([@circle, @circle.pictures.build]) do |f| %>
          <%= f.text_field :image, label: false, placeholder: 'Image from Internet'%>
        </div>
        <div class="small-2 columns">
          <%= f.submit 'Upload', class: "button postfix"%>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
