<div class="row">
  <div class="medium-12 columns">
    <div id="container" class="js-masonry" data-masonry-options='{ "itemSelector": ".item" }'>
      <div class="row">
        <% @pictures.each do |picture| %>
        <div class="small-12 medium-6 large-4 columns item">
          <div class="animation2">
            <img src=<%="#{picture.image}"%>>
            <div class="panel-body">
              <h5>by: <strong><%= picture.user.display_name %></strong></h5>
                <% if signed_in? %>
                  <% if current_user.id == picture.user_id %>
                    <%= link_to "Delete Picture", circle_picture_path(@circle, picture), method: :delete,
                    class: "button tiny" %>
                  <% end %>
                <% end %>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
